table#landingTable > thead{
    background-color: #1391c5;
    color:white;
}
 table#landingTable>tbody>tr:nth-child(odd), .table-striped>tbody>tr:nth-of-type(odd){
    color: #000;
    background:#fff;
}
table#landingTable>tbody>tr:nth-child(even){
    color: #ffffff;
    background:#19a6df;
}