.padding-right-15px{
    padding-right:15px;
}
.badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    margin-right:15px; 
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #0071ac;
    border-radius: 10px;
}
.titleStyle{
    font-weight: 900;
    color: #666666;
}
.panel-body{
    border-top:5px solid #3da5d0;
}
.knowMoreBtn{
    border: 1px solid #6666;
    float: right;
    color: #0071ac;
}