.color-light-blue {
    color:#3da5d0;
}
.color-white{
    color: white;
}
a.color-white:hover{
    color: white;
}
.padding-tb-5per{
    padding: 5% 0px;
}
.margin-bottom-40px{
    margin-bottom: 40px;
}
.loginForm label {
    color:#666666;
    font-size: 16px;
}
.loginForm input {
    border-radius: 0;
}
.font-16px {
    font-size: 16px;
}
.submit-btn-style, .submit-btn-style:hover{
    background-color:#46aad3;
    color:white;
    float: right;
    float: right;
    padding: 10px 30px;
    font-size: 16px;
}
.lockIcon{
    margin-right: 8px;
    height: 16px;
}