.jumbotron.BGcolor-white{
    background: white;
    color: #005681;
    padding-top: 0;
}
.sliderBorder{
    border: 1px solid #e4e4e4;
}
.sliderRanges{
    display:block;
}
.sliderRanges div{
    display: inline;
}
.font14{
    font-size: 14px !important;
}
.rangeslider-horizontal .rangeslider__handle{
    outline:none;
}